@use "@scss/abstracts" as *;
@use "@scss/utilities/placeholders" as *;

.about-me {
	$breakpoint: $tablet;

	@include responsive-output(800, $breakpoint, 1);

	&__inner {
		@extend %bg-color-accent;
	}

	&__body {
		@include media-min($breakpoint) {
			padding-inline-start: to-rem(20);
		}

		@extend %color-primary;
	}

	&__title {
		@include media-min($breakpoint) {
			text-align: start;
		}
	}
}
