@use "@scss/abstracts" as *;
@use "@scss/utilities/placeholders" as *;

.about-me {
	$breakpoint: $tablet;

	@include responsive-output(800, $breakpoint, 1);

	&__inner {
		@extend %bg-color-accent;
	}

	&__container {
		@include media-min($breakpoint) {
			display: flex;
			align-items: center;
		}
	}

	&__body {
		@include media-min($breakpoint) {
			z-index: var(--z-index-1, #{$z-index-1});
			padding-inline-start: to-rem(20);
		}

		@extend %color-primary;
	}

	&__title {
		@include media-min($breakpoint) {
			text-align: start;
		}
	}

	@include media-min($breakpoint) {
		overflow: hidden;
	}
}
