@use "@scss/abstracts" as *;

.hero {
	&__container {
		@include media-max($phone) {
			inline-size: 100%;
		}
	}

	&__title {
		&:not(:last-child) {
			@include adaptive-value("margin-block-end", 80, 30);
		}
	}

	&__actions {
		display: flex;
		flex-wrap: wrap;
		gap: to-rem(15);

		@include media-min($phone) {
			align-self: center;
		}
	}

	&__button {
		@include slide(2, 50, 1.5, 0.4, top);
	}
}
