@use "@scss/abstracts" as *;

.hero {
	&__title {
		&:not(:last-child) {
			@include adaptive-value("margin-block-end", 80, 30);
		}
	}

	&__actions {
		display: flex;
		flex-wrap: wrap;
		gap: to-rem(15);
		align-self: center;

		li {
			@include slide(2, 50, 1.5, $default-transition-duration, top);
		}
	}

	@include media-max($phone) {
		inline-size: 100%;
	}
}
