@use "@scss/abstracts" as *;

.hero {
	$breakpoint: $phone;
	$width: 100%;

	&__title {
		&:not(:last-child) {
			@include adaptive-value("margin-block-end", 80, 30);
		}
	}

	&__actions {
		display: flex;

		gap: to-rem(15);

		flex-wrap: wrap;

		li {
			@include media-max($breakpoint) {
				inline-size: $width;
			}
		}

		@include media-max($breakpoint) {
			inline-size: $width;

			flex-wrap: wrap;
		}
	}
}
