@use "sass:math" as *;
@use "@scss/abstracts" as *;

.logo {
	$font-size: 30;

	@include adaptive-value("font-size", $font-size, 22);

	line-height: div-rounding(40, $font-size);

	.halloween & {
		font-family: var(--font-family-creepster, #{$font-family-creepster});
		color: var(--color-inverse, #{$color-accent});
	}
}
