@use "sass:math" as *;
@use "@scss/abstracts" as *;

.popup {
	position: fixed;
	inset: 0;
	padding-block-start: to-rem(30);
	padding-inline: to-rem($container-padding-inline);
	opacity: 0;
	transition: opacity 0.5s;
	pointer-events: none;

	&__wrapper {
		flex-grow: 1;
		flex-shrink: 1;
		flex-basis: auto;
		flex-direction: column;
		justify-content: center;
		min-block-size: 100%;
		inline-size: 100%;
	}

	&__content {
		position: relative;
		inline-size: 100%;
		max-inline-size: to-rem(400);
		padding-block: to-rem(50);
		padding-inline: to-rem(20);
		background-color: var(--color-pale, #f8f4ff);
		opacity: 0;
		scale: 0;
		transition:
			opacity 0.5s,
			scale 0.5s;

		.lock & {
			opacity: 1;
		}
	}

	&__body {
		flex-direction: column;
	}

	&__icon {
		block-size: to-rem(150);
		inline-size: to-rem(150);
		animation: drag 1s infinite;

		svg {
			border-radius: 50%;
			box-shadow: 0 to-rem(8) to-rem(15)
				rgb(var(--color-accent-rgb, 4 219 137) / 0.25);
			fill: none;
			stroke: var(--color-accent, #0d8);

			.halloween & {
				display: none;
			}
		}

		img {
			display: none;
		}

		&:not(:last-child) {
			margin-block-end: to-rem(25);
		}

		.halloween & {
			background-image: url("@img/svg/halloween/gravestone.svg");
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
		}

		@keyframes drag {
			0% {
				rotate: 3deg;
			}

			50% {
				rotate: -3deg;
			}

			100% {
				rotate: 3deg;
			}
		}
	}

	&__text {
		$font-size: 18;

		max-inline-size: to-rem(210);
		font-size: to-rem($font-size);
		text-align: center;
		line-height: div-rounding(25, $font-size);

		span {
			color: var(--color-accent, #0d8);
		}
	}

	&__close {
		position: absolute;
		inset-block-start: to-rem(20);
		inset-inline-end: to-rem(15);
		z-index: 5;
		display: block;
		block-size: to-rem(18);
		inline-size: to-rem(30);
		cursor: pointer;

		&::before,
		&::after {
			@include pseudo;

			inset-inline-end: 0;
			border-radius: to-rem(2);
			block-size: to-rem(2);
			inline-size: 100%;
			background-color: var(--color-secondary, #222);

			.halloween & {
				display: none;
			}
		}

		&::before {
			inset-block-start: calc(50% - to-rem(1));
			rotate: -45deg;
		}

		&::after {
			inset-block-end: calc(50% - to-rem(1));
			rotate: 45deg;
		}

		.halloween & {
			block-size: to-rem(25);
			inline-size: to-rem(30);
			background-image: url("@img/svg/halloween/bones.svg");
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
		}
	}

	&--show {
		z-index: 150;
		overflow: auto;
		opacity: 1;
		pointer-events: auto;
		overscroll-behavior-inline: none;

		.popup__content {
			opacity: 1;
			scale: 1;
		}
	}
}
