@use "sass:math" as *;
@use "@scss/abstracts" as *;

.popup {
	position: fixed;
	inset: 0;
	padding: to-rem(30) to-rem($container-padding-inline);
	visibility: hidden;
	transition: visibility 0.8s;
	pointer-events: none;

	&__wrapper {
		flex: 1 1 auto;
		flex-direction: column;
		justify-content: center;
		width: 100%;
		min-height: 100%;
	}

	&__content {
		position: relative;
		width: 100%;
		max-width: to-rem(400);
		padding: to-rem(50) to-rem(20);
		background-color: var(--magnolia, #f8f4ff);
		visibility: hidden;
		scale: 0;
		transition:
			visibility 0.3s,
			scale 0.3s;

		.lock & {
			visibility: visible;
		}
	}

	&__body {
		flex-direction: column;
	}

	&__icon {
		animation: drag 1s infinite;

		svg {
			height: to-rem(150);
			width: to-rem(150);
			border-radius: 50%;
			box-shadow: 0 to-rem(8) to-rem(15) rgb(var(--accent-rgb, 4 219 137) / 0.25);
			fill: none;
			stroke: var(--accent, #0d8);
		}

		&:not(:last-child) {
			margin-bottom: to-rem(25);
		}

		@keyframes drag {
			0% {
				rotate: 3deg;
			}

			50% {
				rotate: -3deg;
			}

			100% {
				rotate: 3deg;
			}
		}
	}

	&__text {
		$font-size: 18;

		max-width: to-rem(210);
		font-size: to-rem($font-size);
		line-height: div(25, $font-size);
		text-align: center;

		span {
			color: var(--accent, #0d8);
		}
	}

	&__close {
		position: absolute;
		top: to-rem(20);
		right: to-rem(15);
		z-index: 5;
		display: block;
		height: to-rem(18);
		width: to-rem(30);
		cursor: pointer;

		&::before,
		&::after {
			@include pseudo;

			right: 0;
			height: to-rem(2);
			width: 100%;
			border-radius: to-rem(2);
			background-color: var(--secondary, #222);
		}

		&::before {
			top: calc(50% - to-rem(1));
			rotate: -45deg;
		}

		&::after {
			bottom: calc(50% - to-rem(1));
			rotate: 45deg;
		}
	}

	&--show {
		z-index: 150;
		overflow: auto;
		visibility: visible;
		pointer-events: auto;

		.popup__content {
			visibility: visible;
			scale: 1;
		}
	}
}
