@use "sass:math" as *;
@use "@scss/abstracts" as *;
@use "@scss/utilities/placeholders" as *;

.popup {
	position: fixed;
	inset: 0;
	padding-block: to-rem(30);
	padding-inline: to-rem($container-padding-inline);
	opacity: 0;
	transition: opacity 0.5s;
	pointer-events: none;

	&__wrapper {
		justify-content: center;
		min-block-size: 100%;
	}

	&__content {
		position: relative;
		inline-size: 100%;
		max-inline-size: to-rem(400);
		padding-block: to-rem(50);
		padding-inline: to-rem(20);
		background-color: var(--color-pale, #{$color-pale});
		opacity: 0;
		scale: 0;
		transition:
			opacity 0.5s,
			scale 0.5s;

		.lock & {
			opacity: 1;
		}
	}

	&__icon {
		$size: 150;

		block-size: to-rem($size);
		inline-size: to-rem($size);
		animation: drag 1s infinite;

		svg {
			fill: none;
			stroke: var(--color-accent, #{$color-accent});

			.halloween & {
				display: none;
			}

			@extend %box-shadow-accent;
		}

		.halloween & {
			background-image: url("@img/svg/halloween/gravestone.svg");

			@extend %background;
		}

		@keyframes drag {
			0% {
				rotate: 3deg;
			}

			50% {
				rotate: -3deg;
			}

			100% {
				rotate: 3deg;
			}
		}
	}

	&__text {
		max-inline-size: to-rem(210);
		text-align: center;

		span {
			color: var(--color-accent, #{$color-accent});
		}

		.halloween & {
			color: var(--color-inverse, #{$color-accent});
		}
	}

	&__close {
		position: absolute;
		inset-block-start: to-rem(20);
		inset-inline-end: to-rem(15);
		z-index: 5;
		display: block;
		block-size: to-rem(18);
		inline-size: to-rem(30);
		cursor: pointer;

		&::before,
		&::after {
			@include pseudo;

			inset-inline-end: 0;
			border-radius: to-rem(2);
			block-size: to-rem(2);
			inline-size: 100%;
			background-color: var(--color-secondary, #{$color-secondary});

			.halloween & {
				display: none;
			}
		}

		&::before {
			inset-block-start: calc(50% - to-rem(1));
			rotate: -45deg;
		}

		&::after {
			inset-block-end: calc(50% - to-rem(1));
			rotate: 45deg;
		}

		.halloween & {
			block-size: to-rem(25);
			inline-size: to-rem(30);
			background-image: url("@img/svg/halloween/bones.svg");

			@extend %background;
		}
	}

	&--show {
		z-index: 150;
		overflow: auto;
		opacity: 1;
		pointer-events: auto;
		overscroll-behavior-inline: none;

		.popup__content {
			opacity: 1;
			scale: 1;
		}
	}
}
