@use "@scss/abstracts" as *;
@use "@scss/utilities/placeholders" as *;

.project-card {
	display: grid;
	overflow: hidden;
	inline-size: 100%;
	background-color: var(--color-pale, #{$color-pale});

	&__image {
		img {
			aspect-ratio: 16 / 9;

			@include media-hover {
				scale: var(--scale-default, #{$scale-default});
			}
		}

		&:focus-visible {
			img {
				scale: var(--scale-default, #{$scale-default});
			}
		}

		@extend %color-accent;
	}

	&__body {
		display: grid;
		gap: to-rem(10);
	}

	&__title {
		text-align: center;

		a {
			display: block;
			transition: color
				var(--transition-duration-default, #{$transition-duration-default});

			&:focus-visible {
				@extend %color-accent;
			}

			@include media-hover {
				color: var(--color-accent, #{$color-accent});
			}
		}
	}
}
