@use "@scss/abstracts" as *;

.project-card {
	display: grid;
	overflow: hidden;
	inline-size: 100%;
	max-inline-size: to-rem(400);

	&__image {
		padding-block-end: 90%;
		background-color: var(--color-accent, #{$color-accent});

		img {
			object-position: top;

			@include media-hover {
				scale: 1.03;
			}
		}

		&:focus-visible {
			img {
				scale: 1.03;
			}
		}
	}

	&__body {
		display: grid;
		gap: to-rem(10);
		padding: to-rem(10);
		background-color: var(--color-pale, #{$color-pale});
	}

	&__title {
		text-align: center;

		a {
			display: block;
			inline-size: 100%;
			transition: color var(--transition-duration, #{$transition-duration});

			.halloween & {
				color: var(--color-accent, #{$color-accent});

				&:focus-visible {
					color: var(--color-inverse, #{$color-accent});
				}

				@include media-hover {
					color: var(--color-inverse, #{$color-accent});
				}
			}

			&:focus-visible {
				color: var(--color-accent, #{$color-accent});
			}

			@include media-hover {
				color: var(--color-accent, #{$color-accent});
			}
		}
	}

	.halloween & {
		@include media-hover {
			.project-card__image {
				&::before {
					background-color: transparent;
				}

				img {
					scale: 1.03;
				}
			}
		}
	}
}
