@use "@scss/abstracts" as *;

.review {
	overflow: hidden;
	max-inline-size: to-rem(400);
	filter: grayscale(1);
	transition: filter 0.8s;

	&__info {
		gap: to-rem(15);
		padding: to-rem(15);
		background-color: var(--color-pale, #{$color-pale});

		.halloween & {
			color: var(--color-accent, #{$color-accent});
		}
	}

	&__image {
		flex-grow: 0;
		flex-shrink: 0;
		flex-basis: to-rem(70);
		block-size: to-rem(70);
		background-color: var(--color-accent, #{$color-accent});
	}

	&__text {
		padding: to-rem(15);
		color: var(--color-primary, #{$color-primary});
		background: var(--color-accent, #{$color-accent});

		.dark & {
			color: var(--color-text-primary, #{$color-primary});
		}

		.halloween & {
			color: var(--color-primary, #{$color-secondary});
		}
	}

	.swiper-slide-active & {
		filter: grayscale(0);

		&::before {
			opacity: 0;
		}
	}
}
