@use "sass:math" as *;
@use "@scss/abstracts" as *;

.review {
	overflow: hidden;
	max-inline-size: to-rem(400);
	filter: grayscale(1);
	transition: filter 0.8s;

	&__info {
		gap: to-rem(15);
		padding: to-rem(15);
		background-color: var(--color-pale, #f8f4ff);
	}

	&__image {
		flex-grow: 0;
		flex-shrink: 0;
		flex-basis: to-rem(70);
		border-radius: 50%;
		block-size: to-rem(70);
		background-color: var(--color-accent, #0d8);
	}

	&__text {
		padding: to-rem(15);
		color: var(--color-primary, #fff);
		background: var(--color-accent, #0d8);

		.dark & {
			color: var(--color-text-primary, #fff);
		}
	}

	.swiper-slide-active & {
		filter: grayscale(0);
	}
}
