@use "@scss/abstracts" as *;

.socials {
	@include adaptive-value("gap", 20, 8);

	flex-wrap: wrap;

	&__item {
		svg {
			$size: 40;

			block-size: to-rem($size);
			inline-size: to-rem($size);
			fill: var(--color-secondary, #{$color-secondary});
			transition: fill var(--transition-duration, #{$transition-duration});

			.halloween & {
				fill: var(--color-inverse, #{$color-accent});
			}
		}

		&:focus-within {
			scale: 1.05;

			.halloween & {
				svg {
					fill: var(--color-blood, #{$color-blood});
				}
			}
		}

		@include media-hover {
			scale: 1.05;

			.halloween & {
				svg {
					fill: var(--color-blood, #{$color-blood});
				}
			}
		}
	}
}
