@use "sass:math" as *;
@use "@scss/abstracts" as *;

.socials {
	@include adaptive-value("gap", 20, 8);

	display: flex;
	flex-wrap: wrap;
	align-items: center;

	&__item {
		transition: scale 0.3s;

		a {
			border-radius: 50%;
		}

		svg {
			height: to-rem(40);
			width: to-rem(40);
			fill: var(--secondary, #222);
		}

		@include media-hover {
			scale: 1.05;
		}
	}
}
