@use "@scss/abstracts" as *;
@use "@scss/utilities/placeholders" as *;

.spoiler {
	overflow: hidden;

	align-self: flex-start;

	background-color: var(--color-pale, #{$color-pale});

	&__trigger {
		position: relative;

		strong {
			flex: 1;
		}

		.spoiler-init & {
			&.spoiler-active {
				span {
					&::before {
						rotate: 0deg;
					}
				}
			}

			span {
				$size: 30;

				display: block;

				position: relative;

				block-size: to-rem($size);

				flex: 0 0 to-rem($size);

				&::before,
				&::after {
					@include pseudo;

					inset-block-start: 50%;
					inset-inline-start: 20%;

					border-radius: to-rem(2);

					block-size: to-rem(2);
					inline-size: to-rem(20);

					transition: rotate
						var(--transition-duration-default, #{$transition-duration-default});

					@extend %bg-color-secondary;
				}

				&::before {
					rotate: 90deg;
				}
			}

			@media (any-hover: hover) {
				cursor: pointer;
			}
		}
	}

	&__content {
		@extend %bg-color-accent;
	}
}
