@use "@scss/abstracts" as *;
@use "@scss/utilities/placeholders" as *;

.spoiler {
	align-self: flex-start;
	overflow: hidden;
	background-color: var(--color-pale, #{$color-pale});

	&__trigger {
		position: relative;
		padding: to-rem(10);

		strong {
			flex: 1;
		}

		.spoiler-init & {
			span {
				$size: 30;

				position: relative;
				display: block;
				flex-grow: 0;
				flex-shrink: 0;
				flex-basis: to-rem($size);
				block-size: to-rem($size);

				&::before,
				&::after {
					@include pseudo;

					inset-block-start: 50%;
					inset-inline-start: 20%;
					border-radius: to-rem(2);
					block-size: to-rem(2);
					inline-size: to-rem(20);
					transition: rotate
						var(--default-transition-duration, #{$default-transition-duration});

					@extend %bg-color-secondary;
				}

				&::before {
					rotate: 90deg;
				}
			}

			&.spoiler-active {
				span {
					&::before {
						rotate: 0deg;
					}
				}
			}

			@media (any-hover: hover) {
				cursor: pointer;
			}
		}
	}

	&__info {
		gap: to-rem(10);
		margin-inline: auto;
		inline-size: fit-content;

		svg {
			$size: 20;

			block-size: to-rem($size);
			inline-size: to-rem($size);
			fill: none;
			stroke: var(--color-pale, #{$color-pale});
		}
	}

	&__socials {
		justify-content: center;

		svg {
			fill: var(--color-pale, #{$color-pale});
		}
	}

	&__content {
		padding: to-rem(15);

		@extend %bg-color-accent;
	}
}
