@use "@scss/abstracts" as *;
@use "@scss/utilities/placeholders" as *;

.spoiler {
	align-self: flex-start;
	overflow: hidden;
	background-color: var(--color-pale, #{$color-pale});

	&__trigger {
		position: relative;
		padding: to-rem(10);

		strong {
			flex: 1;
		}

		.spoiler-init & {
			span {
				$size: 30;

				display: block;
				flex-grow: 0;
				flex-shrink: 0;
				flex-basis: to-rem($size);
				block-size: to-rem($size);

				&::before,
				&::after {
					inset-block-start: 50%;
					inset-inline-end: to-rem(15);
					border-radius: to-rem(2);
					block-size: to-rem(2);
					inline-size: to-rem(20);
					background-color: var(--color-secondary, #{$color-secondary});
					transition: rotate
						var(--default-transition-duration, #{$default-transition-duration});

					.halloween & {
						display: none;
					}

					@extend %pseudo;
				}

				&::before {
					rotate: 90deg;
				}

				.halloween & {
					background-image: url("@img/svg/halloween/bones.svg");
					rotate: 45deg;
					transition: rotate
						var(--default-transition-duration, #{$default-transition-duration});

					@extend %background;
				}
			}

			&.spoiler-active {
				span {
					&::before {
						rotate: 45deg;
					}

					&::after {
						rotate: -45deg;
					}
				}

				.halloween & {
					span {
						rotate: 0deg;
					}
				}
			}

			@media (any-hover: hover) {
				cursor: pointer;
			}
		}
	}

	&__info {
		gap: to-rem(10);
		margin-inline: auto;
		inline-size: fit-content;

		svg {
			$size: 20;

			block-size: to-rem($size);
			inline-size: to-rem($size);
			fill: none;
			stroke: var(--color-primary, #{$color-primary});

			.dark & {
				stroke: var(--color-secondary, #{$color-primary});
			}
		}

		.halloween & {
			padding-inline-end: to-rem(30);
			background-image: url("@img/svg/halloween/hat.svg");
			background-position: right;
			background-size: to-rem(20);
			background-repeat: no-repeat;

			svg {
				display: none;
			}
		}
	}

	&__socials {
		justify-content: center;

		svg {
			fill: var(--color-primary, #{$color-secondary});

			.dark & {
				fill: var(--color-secondary, #{$color-pale});
			}

			.halloween & {
				fill: var(--color-primary, #{$color-secondary});
			}
		}
	}

	&__content {
		padding: to-rem(15);
		color: var(--color-primary, #{$color-secondary});

		.dark & {
			color: var(--color-secondary, #{$color-primary});
		}

		.halloween & {
			color: var(--color-primary, #{$color-secondary});
		}

		@extend %bg-color-accent;
	}
}
