@use "@scss/abstracts" as *;

body {
	&::after {
		@include pseudo("", fixed);

		inset: 0;
		z-index: 149;
		background-color: rgb(var(--disabled-rgb, 136 136 136) / 0.5);
		opacity: 0;
		backdrop-filter: blur(rem(5));
		transition:
			backdrop-filter 0.8s,
			opacity 0.8s;
		pointer-events: none;
	}

	.overlay-show & {
		&::after {
			opacity: 1;
		}
	}
}
