@use "@scss/abstracts" as *;

.container {
	margin-inline: auto;
	max-width: var(--container-width, #{to-rem($container-width)});
	padding-inline: var(
		--container-padding-inline,
		#{to-rem($container-padding-inline)}
	);
}
