@use "@scss/abstracts" as *;

* {
	cursor: none;
}

.cursor {
	position: fixed;
	inset: 0;
	z-index: 200;
	height: 100%;
	width: 100%;
	pointer-events: none;

	&__pointer {
		position: fixed;
		inset: 0;
		height: to-rem(10);
		width: to-rem(10);

		&::after {
			@include pseudo;

			inset: 0;
			height: 100%;
			width: 100%;
			border: to-rem(3) solid #80f;
			border-radius: 50%;
			transition:
				background-color 0.3s,
				border-color 0.3s,
				scale 0.3s;
		}
	}

	&.active {
		.cursor__pointer::after {
			scale: 0.5;
			transition: scale 0.25s;
		}
	}

	&.hover {
		.cursor__pointer::after {
			border-color: var(--inverse, #fe0);
			background-color: #80f;
		}
	}
}
