@use "@scss/abstracts" as *;

* {
	cursor: none;
}

.cursor {
	position: fixed;
	inset: 0;
	z-index: 200;
	block-size: 100%;
	inline-size: 100%;
	pointer-events: none;

	&__pointer {
		position: fixed;
		inset: 0;
		block-size: to-rem(10);
		inline-size: to-rem(10);

		&::after {
			@include pseudo;

			inset: 0;
			border-radius: 50%;
			border-width: to-rem(3);
			border-style: solid;
			border-color: #80f;
			block-size: 100%;
			inline-size: 100%;
			transition:
				background-color 0.3s,
				border-color 0.3s,
				scale 0.3s;
		}
	}

	&.active {
		.cursor__pointer::after {
			scale: 0.5;
			transition: scale 0.25s;
		}
	}

	&.hover {
		.cursor__pointer::after {
			border-color: var(--color-inverse, #fe0);
			background-color: #80f;
		}
	}
}
