.anim-spring {
	&.watcher-view {
		animation: tracking-in-expand 1s;

		@keyframes tracking-in-expand {
			0% {
				letter-spacing: -0.5em;
				opacity: 0;
			}

			100% {
				letter-spacing: 0;
				opacity: 1;
			}
		}
	}
}
