@use "@scss/abstracts" as *;

.fullscreen {
	.touch & {
		transition: min-block-size 0.2s;
	}

	@include media-min(350) {
		min-block-size: calc(
			100dvb - calc(var(--header-block-size, #{to-rem(64)}) + to-rem(15))
		);
	}

	@include media-max(350) {
		min-block-size: calc(100dvb - var(--header-block-size, #{to-rem(64)}));
	}
}
