@use "@scss/abstracts" as *;

[data-fullscreen] {
	min-height: 100vh;

	.touch & {
		/* The (--vh) variable is used by the fullVHfix function */
		min-height: calc(var(--vh, 1vh) * 100);

		@include media-max($tablet) {
			transition: min-height 0.3s;
		}
	}
}
