- const socials = require('/src/views/json/socials.json')

header.header
	.container.header__container
		.logo.header__logo
			| Никита Алманов
		.header__body
			.socials
				each social in socials.socials
					a.socials__item(href=social.link data-tippy-content=social.tip)
						svg
							use(href=`@img/icons/sprite.svg#${social.icon}`)
			a.button.header__button(href='#' data-goto='.questions' data-goto-header data-tippy-content='Вопросы о работе')
				| ?
