@use "@scss/abstracts" as *;

body {
	&::after {
		@include pseudo;

		inset: 0;
		z-index: var(--z-index-3, #{$z-index-3});
		background-color: rgb(var(--color-gray-rgb, #{$color-gray-rgb}) / 0.5);
		opacity: 0;
		backdrop-filter: blur(to-rem(5));
		transition: opacity
			var(--default-transition-duration, #{$default-transition-duration});
		pointer-events: none;
	}

	.overlay-show & {
		&::after {
			opacity: 1;
		}
	}
}
