@use "@scss/abstracts" as *;

body {
	&::after {
		@include pseudo("", fixed);

		inset: 0;
		z-index: 149;
		background-color: rgb(var(--color-gray-rgb, 136 136 136) / 0.5);
		opacity: 0;
		backdrop-filter: blur(to-rem(5));
		transition: opacity 0.5s;
		pointer-events: none;
	}

	.overlay-show & {
		&::after {
			opacity: 1;
		}
	}
}
