@use "@scss/abstracts" as *;

body {
	&::after {
		@include pseudo("", fixed);

		inset: 0;
		z-index: var(--z-index-2, #{$z-index-2});
		background-color: rgb(var(--color-gray-rgb, #{$color-gray-rgb}) / 0.5);
		opacity: 0;
		backdrop-filter: blur(to-rem(5));
		transition: opacity
			var(--transition-duration-default, #{$transition-duration-default});
		pointer-events: none;
	}

	.overlay-show & {
		&::after {
			opacity: 1;
		}
	}
}
