@use "@scss/abstracts" as *;
@use "@scss/utilities/placeholders" as *;

.broken-glass {
	.halloween & {
		&::before {
			@include pseudo;

			z-index: 1;
			block-size: 100%;
			inline-size: 100%;
			background-image: url("@img/svg/halloween/glass.svg");
			opacity: 0.2;
			transition: opacity var(--transition-duration, #{$transition-duration});

			@extend %background;
		}
	}
}
