@use "@scss/abstracts" as *;

.fullscreen {
	justify-content: center;
	min-block-size: 100dvb;
	padding-block: to-rem(90);

	.touch & {
		transition: min-block-size
			var(--transition-duration-default, #{$transition-duration-default});
	}
}
