@use "@scss/abstracts" as *;

.fullscreen {
	justify-content: center;
	min-block-size: calc(
		100dvb - var(--header-min-block-size, #{$header-min-block-size})
	);
	padding-block: to-rem(90);

	.touch & {
		transition: min-block-size
			var(--default-transition-duration, #{$default-transition-duration});
	}
}
