@use "@scss/abstracts" as *;

.fullscreen {
	min-block-size: 100dvb;
	padding-block: to-rem(90);
	justify-content: center;

	.touch & {
		transition: min-block-size
			var(--default-transition-duration, #{$default-transition-duration});
	}
}
