@use "@scss/abstracts" as *;

%border-radius {
	border-radius: to-rem(50);
}

%gap {
	@include adaptive-value("gap", 20, 8);
}

%bg-color-secondary {
	background-color: var(--color-secondary, #{$color-secondary});
}

%bg-color-accent {
	background-color: var(--color-accent, #{$color-accent});
}

%bg-color-inverse {
	background-color: var(--color-inverse, #{$color-inverse});
}

%box-shadow-inverse {
	box-shadow: 0 0 to-rem(15)
		rgb(
			var(--color-inverse-rgb, #{$color-inverse-rgb}) /
				var(--alpha-default, #{$alpha-default})
		);
}

%box-shadow-accent {
	box-shadow: 0 0 to-rem(15)
		rgb(
			var(--color-accent-rgb, #{$color-accent-rgb}) /
				var(--alpha-default, #{$alpha-default})
		);
}

%color-primary {
	color: var(--color-primary, #{$color-primary});
}

%color-accent {
	color: var(--color-accent, #{$color-accent});
}

%color-inverse {
	color: var(--color-inverse, #{$color-inverse});
}
