@font-face {
	src: url("../fonts/NotoSans-Medium.woff2") format("woff2");
	font-family: "NotoSans";
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	src: url("../fonts/NotoSans-Regular.woff2") format("woff2");
	font-family: "NotoSans";
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	src: url("../fonts/NotoSans-Bold.woff2") format("woff2");
	font-family: "NotoSans";
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
