@use "@scss/abstracts" as *;

*,
*::before,
*::after {
	margin: 0;
	border: 0;
	box-sizing: border-box;
	padding: 0;
	font: inherit;

	@include media-motion(reduce) {
		transition: none;
		animation: none;
	}
}

html,
body {
	min-height: 100vh;
	min-width: $min-width + px;
	background-color: var(--background-primary, #fff);
	overscroll-behavior: none;
	scroll-padding-top: calc(var(--header-height, #{to-rem(94)}) + to-rem(15));
	scrollbar-gutter: stable;

	@include media-motion(no-preference) {
		scroll-behavior: smooth;
	}
}

::selection {
	color: var(--secondary, #222);
	background-color: rgb(var(--inverse-rgb, 255 238 0) / 0.8);

	.dark & {
		color: var(--primary, #222);
	}
}

:focus-visible {
	outline-offset: to-rem(2);
	outline-color: var(--accent, #0d8);
}

summary,
ul {
	list-style: none;
}

picture,
img,
svg {
	display: block;
	width: 100%;
}

button {
	background-color: transparent;

	@media (any-hover: hover) {
		cursor: pointer;
	}
}
