@use "@scss/abstracts" as *;

*,
*::before,
*::after {
	margin: 0;
	border: 0;
	box-sizing: border-box;
	padding: 0;
	font: inherit;

	@include media-motion(reduce) {
		transition: none;
		animation: none;
	}
}

html {
	scroll-padding-block-start: calc(
		var(--header-block-size, #{to-rem($header-block-size)}) +
			var(--header-inset-block-start, #{$header-inset-block-start})
	);

	@include media-motion(no-preference) {
		scroll-behavior: smooth;
	}
}

body {
	min-inline-size: $min-inline-size + px;
	background-color: var(--color-background-primary, #{$color-primary});
	overscroll-behavior-block: none;
}

::selection {
	color: var(--color-secondary, #{$color-secondary});
	background-color: rgb(var(--color-inverse-rgb, #{$color-inverse-rgb}) / 0.8);

	.halloween &,
	.dark & {
		color: var(--color-primary, #{$color-secondary});
	}
}

:focus-visible {
	outline-offset: to-rem(2);
	outline-color: var(--color-accent, #{$color-accent});
}

summary,
ul {
	list-style: none;
}

picture,
img,
svg {
	display: block;
	inline-size: 100%;
}

button {
	background-color: transparent;

	@media (any-hover: hover) {
		cursor: pointer;
	}
}
