@use "@scss/abstracts" as *;

/* Reset styles */
*,
*::before,
*::after {
	margin: 0;
	border: 0;
	padding: 0;
	box-sizing: border-box;
	font: inherit;

	@media (prefers-reduced-motion: reduce) {
		/*
			Remove all animations, transitions and smooth scroll
			for people that prefer not to see them
		*/
		transition: none;
		animation: none;
		scroll-behavior: auto;
	}
}

html,
body {
	min-width: $min-width + px;
	min-height: 100vh;

	// Interferes with the normal operation of smoothScroll.js
	scroll-behavior: smooth;
}

body {
	font-family: var(--font-family), sans-serif;
	font-weight: var(--font-weight);
	font-size: var(--font-size);
	line-height: 1;
	text-rendering: optimizeLegibility;
	text-size-adjust: 100%;
	color: var(--text-primary);
	background-color: var(--background-primary);
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

:focus-visible {
	/* Styles for a contrasting theme */
	outline-color: transparent;
	outline-offset: rem(2);
	box-shadow: 0 0 0 rem(2) var(--inverse);
}

/* Remove markers */
summary,
ul,
ol {
	list-style: none;
}

/* Make images and inputs easier to work with */
picture,
iframe,
input,
video,
img,
svg {
	display: block;
	width: 100%;
}

/* Remove italic */
address {
	font-style: normal;
}

input {
	appearance: none;
}

textarea {
	resize: none;
}

button {
	background-color: transparent;
}

a {
	text-decoration: none;
}

label {
	user-select: none;
}

button,
a {
	color: inherit;
}

button,
label {
	@media (any-hover: hover) {
		/* Set the cursor pointer for the button and the label for devices with a mouse */
		cursor: pointer;
	}
}
