@use "@scss/abstracts" as *;

:root {
	// Container
	--container-inline-size: #{to-rem($container-inline-size)};
	--container-padding-inline: #{to-rem($container-padding-inline)};

	// Header
	--header-block-size: #{to-rem($header-block-size)};

	// Font families
	--font-system-ui: system-ui, -apple-system, blinkmacsystemfont, "Segoe UI", roboto,
		oxygen, ubuntu, cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	--font-family-roboto: #{$font-family-roboto};
	--font-family-open-sans: #{$font-family-open-sans};
	--font-family-creepster: #{$font-family-creepster};
	--font-family-base: var(--font-family-roboto, #{$font-family-roboto});

	// Font sizes
	--font-size-title: #{to-rem($font-size-title)};
	--font-size-subtitle: #{to-rem($font-size-subtitle)};
	--font-size-text: #{to-rem($font-size-text)};
	--font-size-base: var(--font-size-text, #{to-rem($font-size-text)});

	// Font weights
	--font-weight-400: #{$font-weight-400};
	--font-weight-500: #{$font-weight-500};
	--font-weight-700: #{$font-weight-700};
	--font-weight-base: var(--font-weight-700, #{$font-weight-700});

	// Colors
	--color-primary: #{$color-primary};
	--color-secondary: #{$color-secondary};
	--color-accent: #{$color-accent};
	--color-inverse: #{$color-inverse};
	--color-pale: #{$color-pale};
	--color-gray: #{$color-gray};
	--color-purple: #{$color-purple};
	--color-blood: #{$color-blood};

	// Colors RGB
	--color-accent-rgb: #{$color-accent-rgb};
	--color-inverse-rgb: #{$color-inverse-rgb};
	--color-gray-rgb: #{$color-gray-rgb};

	// Main colors
	--color-background-primary: var(--color-primary, #{$color-primary});
	--color-text-primary: var(--color-secondary, #{$color-secondary});

	// Transitions
	--transition-duration: #{$transition-duration};
}
