@use "@scss/abstracts" as *;

:root {
	// Colors
	--primary: #fff;
	--magnolia: #f8f4ff;
	--secondary: #222;
	--accent: #0d8;
	--inverse: #fe0;
	--disabled: #888;

	// Colors RGB
	// #888
	--disabled-rgb: 136 136 136;

	// #0d8
	--accent-rgb: 4 219 137;

	// #fe0
	--inverse-rgb: 255 238 0;

	// Fonts
	--background-primary: var(--primary, #fff);
	--text-primary: var(--secondary, #222);
	--system-ui: system-ui;
	--font-family: "Roboto";
	--font-size: #{to-rem(16)};
	--font-weight: 700;

	// Header
	--header-height: #{to-rem(64)};
}
