@use "sass:math" as *;
@use "@scss/abstracts" as *;

/* Typography styles */
body {
	font-family: var(--font-family), sans-serif;
	font-weight: var(--font-weight);
	font-size: var(--font-size);
	line-height: 1;
	text-rendering: optimizeLegibility;
	text-size-adjust: 100%;
	color: var(--text-primary);
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

a {
	text-decoration: none;
}

button,
a {
	color: inherit;
}

.title {
	@include adaptive-value("font-size", 64, 50);

	line-height: div(87, 64);
	text-align: center;

	span {
		&:not([data-typed]) {
			color: var(--accent);
		}
	}

	&--big {
		@include adaptive-value("font-size", 96, 47);

		line-height: div(131, 96);
	}
}

// ======================================================================================================================================================== //
.card-title {
	font-size: rem(30);
	line-height: div(40, 30);
}

// ======================================================================================================================================================== //
.text {
	font-weight: 400;
	line-height: 150%;

	p {
		&:not(:last-child) {
			margin-bottom: em(3);
		}
	}
}

// ======================================================================================================================================================== //
.review-name {
	@include adaptive-value("font-size", 24, 20);

	line-height: div(33, 24);
}

// ======================================================================================================================================================== //
.link {
	position: relative;
	font-weight: 700;
	color: var(--inverse);

	@include media-min($tablet) {
		&::after {
			@include pseudo;

			left: 0;
			bottom: 0;
			border-radius: rem(2);
			width: 0;
			height: rem(2);
			background-color: var(--inverse);
			transition: width 0.3s;
		}

		@include media-hover {
			&::after {
				width: 100%;
			}
		}
	}
}
