@use "sass:math" as *;
@use "@scss/abstracts" as *;

/* Typography styles */
body {
	font-family: var(--font-family, var(--system-ui, sans-serif));
	font-size: var(--font-size, 1rem);
	font-weight: var(--font-weight, 700);
	line-height: 1;
	color: var(--text-primary, #222);
}

a {
	text-decoration: none;
}

button,
a {
	color: inherit;
}

.title {
	@include adaptive-value("font-size", 64, 40);

	line-height: div(87, 64);
	text-align: center;

	span {
		&:not([data-typed]) {
			color: var(--accent, #0d8);
		}
	}

	&--big {
		@include adaptive-value("font-size", 96, 47);

		line-height: div(131, 96);
	}
}

// ======================================================================================================================================================== //
.card-title {
	font-size: rem(30);
	line-height: div(40, 30);
}

// ======================================================================================================================================================== //
.text {
	font-weight: 400;
	line-height: 150%;

	p {
		&:not(:last-child) {
			margin-bottom: em(3);
		}
	}
}

// ======================================================================================================================================================== //
.review-name {
	@include adaptive-value("font-size", 24, 20);

	line-height: div(33, 24);
}

// ======================================================================================================================================================== //
.link {
	position: relative;
	font-weight: 700;
	color: var(--inverse, #fe0);

	@include media-min($tablet) {
		&::after {
			@include pseudo;

			bottom: 0;
			left: 0;
			border-radius: rem(2);
			height: rem(2);
			width: 0;
			background-color: var(--inverse, #fe0);
			transition: width 0.3s;
		}

		&:focus-visible {
			&::after {
				width: 100%;
			}
		}

		@include media-hover {
			&::after {
				width: 100%;
			}
		}
	}
}
