@use "sass:math" as *;
@use "@scss/abstracts" as *;
@use "@scss/utilities/placeholders" as *;

.error-404 {
	&__title {
		$font-size: 350;

		@include adaptive-value("font-size", $font-size, 150);

		flex-wrap: nowrap;
		font-size: to-rem($font-size);

		span {
			color: var(--color-inverse, #{$color-inverse});
		}

		img {
			@include adaptive-value("block-size", $font-size, 140);
			@include adaptive-value("inline-size", $font-size, 140);

			display: none;
		}

		.halloween & {
			font-family: var(--font-family-creepster, #{$font-family-creepster});

			img {
				display: block;
			}

			span {
				display: none;
			}
		}

		@extend %color-accent;
	}
}
