@use "@scss/abstracts" as *;
@use "@scss/utilities/placeholders" as *;

.error-404 {
	&__title {
		$font-size: 350;

		@include adaptive-value("font-size", $font-size, 150);

		font-weight: var(--font-weight-700, #{$font-weight-700});
		text-align: center;

		span {
			@extend %color-inverse;
		}

		@extend %color-accent;
	}
}
