@use "sass:math" as *;
@use "@scss/abstracts" as *;

.padding-y {
	padding-block: to-rem(30);
}

.margin-bottom {
	&:not(:last-child) {
		margin-block-end: to-rem(30);
	}
}

.border-radius {
	border-radius: to-rem(10);
}

.gap {
	gap: to-rem(20);
}

.flex-align-center {
	display: flex;
	align-items: center;
}

.hero {
	&__container {
		@include adaptive-value("padding-block", 60, 30);

		display: flex;
		flex-direction: column;
	}

	&__title {
		&:not(:last-child) {
			@include adaptive-value("margin-bottom", 80, 30);
		}
	}

	&__actions {
		display: flex;
		flex-wrap: wrap;
		gap: to-rem(15);

		@include media-min($phone) {
			align-self: center;
		}
	}

	&__button {
		@include slide(2, 50, 1.5, 0.4, top);
	}
}

// ============================================================================== //
.about-me {
	@include responsive-output(800, $tablet, 1);

	&__inner {
		background-color: var(--accent, #0d8);
	}

	&__container {
		@include media-min($tablet) {
			display: flex;
			align-items: center;
		}
	}

	&__body {
		color: var(--primary, #fff);

		.dark & {
			color: var(--text-primary, #fff);
		}

		@include media-min($tablet) {
			padding-inline-start: to-rem(50);
		}
	}

	&__title {
		@include media-min($tablet) {
			text-align: start;
		}
	}

	&__image {
		background-color: var(--inverse, #fe0);

		@include media-min($tablet) {
			overflow: hidden;

			&::before {
				@include pseudo;

				inset-block-start: to-rem(-150);
				inset-inline-end: to-rem(-130);
				z-index: 4;
				block-size: to-rem(1000);
				inline-size: to-rem(200);
				background-color: var(--accent, #0d8);
				rotate: 11.5deg;
				transition: inline-size 0.8s;
			}
		}
	}
}

// ============================================================================== //
.skills {
	display: grid;

	&__icons {
		display: flex;
	}

	&__icon {
		flex: 0 0 to-rem(70);
		block-size: to-rem(70);
		inline-size: to-rem(70);
	}
}

// ============================================================================== //
.developments {
	&__card {
		position: relative;
		overflow: hidden;
		transition: scale 0.3s;

		&:focus-visible {
			scale: 1.03;
		}

		@include media-hover {
			scale: 1.03;
		}
	}
}

// ============================================================================== //
.portfolio {
	&__cards {
		justify-items: center;
	}
}

// ============================================================================== //
.reviews {
	&__slider {
		margin: to-rem(-5);
		padding: to-rem(5);
	}

	&__review {
		margin-inline: auto;
	}
}
