@use "sass:math" as *;
@use "@scss/abstracts" as *;

.hero {
	display: flex;
	align-items: center;

	&__container {
		@include adaptive-value("padding-block", 60, 30);

		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__title {
		&:not(:last-child) {
			@include adaptive-value("margin-bottom", 80, 30);
		}
	}

	&__actions {
		display: flex;
		flex-wrap: wrap;
		gap: to-rem(15);

		@include media-max($phone) {
			width: 100%;
		}
	}

	&__button {
		@include slide(2, 50, 1.5, 0.4, top);
	}
}

// ========================================================================================================================================================//
.about-me {
	@include responsive-output(800, $tablet, 1);

	&__inner {
		background-color: var(--accent, #0d8);
	}

	&__container {
		@include media-min($tablet) {
			display: flex;
			align-items: center;
		}
	}

	&__body {
		padding-block: to-rem(30);
		color: var(--primary, #fff);

		@include media-min($tablet) {
			padding-left: to-rem(50);
		}
	}

	&__title {
		&:not(:last-child) {
			margin-bottom: to-rem(20);
		}

		@include media-min($tablet) {
			text-align: left;
		}
	}

	&__image {
		background-color: var(--inverse, #fe0);

		@include media-min($tablet) {
			overflow: hidden;

			&::before {
				@include pseudo;

				top: to-rem(-150);
				right: to-rem(-130);
				z-index: 4;
				height: to-rem(1000);
				width: to-rem(200);
				background-color: var(--accent, #0d8);
				rotate: 11.5deg;
				transition: width 0.8s;
			}
		}
	}
}

// ========================================================================================================================================================//
.skills {
	display: grid;
	padding-block: to-rem(50) to-rem(20);

	&__icons {
		display: flex;
		gap: to-rem(20);
	}

	&__icon {
		flex: 0 0 to-rem(90);
		height: to-rem(90);
		width: to-rem(90);
	}
}

// ======================================================================================================================================================== //
.developments {
	padding-block: to-rem(30);

	&__title {
		&:not(:last-child) {
			margin-bottom: to-rem(30);
		}
	}

	&__card {
		position: relative;
		overflow: hidden;
		border-radius: to-rem(10);
		transition: scale 0.3s;

		svg {
			position: absolute;
			inset: auto to-rem(15) to-rem(15) auto;
			height: to-rem(30);
			width: to-rem(30);
			fill: var(--accent, #0d8);
		}

		&:focus-visible {
			scale: 1.03;
		}

		@include media-hover {
			scale: 1.03;
		}
	}
}

// ========================================================================================================================================================//
.portfolio {
	padding-block: to-rem(30);

	&__title {
		&:not(:last-child) {
			margin-bottom: to-rem(30);
		}
	}

	&__cards {
		justify-items: center;
	}
}

// ========================================================================================================================================================//
.reviews {
	padding-block: to-rem(30);

	&__title {
		&:not(:last-child) {
			margin-bottom: to-rem(30);
		}
	}

	&__slider {
		margin: to-rem(-20);
		padding: to-rem(20);
	}

	&__wrapper {
		&:not(:last-child) {
			margin-bottom: to-rem(30);
		}
	}

	&__review {
		margin-inline: auto;
	}
}

// ========================================================================================================================================================//
.questions {
	@include adaptive-value("padding-bottom", 60, 30);

	padding-top: to-rem(30);

	&__title {
		&:not(:last-child) {
			margin-bottom: to-rem(30);
		}
	}
}
