@use "sass:math" as *;
@use "@scss/abstracts" as *;
@use "@scss/utilities/placeholders" as *;

.button {
	$line-height: 20;
	$color-dark-theme: var(--color-primary, #{$color-secondary});

	display: inline-flex;
	justify-content: center;
	padding-block: to-rem(10);
	padding-inline: to-rem(15);
	line-height: div-rounding($line-height, $font-size-default);
	transition:
		background-color
			var(--transition-duration-default, #{$transition-duration-default}),
		box-shadow var(--transition-duration-default, #{$transition-duration-default}),
		transform var(--transition-duration-default, #{$transition-duration-default}),
		color var(--transition-duration-default, #{$transition-duration-default});

	&:focus-visible {
		color: var(--color-secondary, #{$color-secondary});

		.dark & {
			color: $color-dark-theme;
		}

		@extend %bg-color-inverse;
		@extend %box-shadow-inverse;
	}

	&:active {
		transform: translateY(to-rem(3));
	}

	&--full {
		@include media-max($phone) {
			inline-size: 100%;
		}
	}

	@include media-hover {
		box-shadow: 0 0 to-rem(15)
			rgb(var(--color-inverse-rgb, #{$color-inverse-rgb}) / 0.25);
		color: var(--color-secondary, #{$color-secondary});
		background-color: var(--color-inverse, #{$color-inverse});

		.dark & {
			color: $color-dark-theme;
		}
	}

	@extend %border-radius;
	@extend %color-primary;
	@extend %bg-color-accent;
	@extend %box-shadow-accent;
}
