@use "sass:math" as *;
@use "@scss/abstracts" as *;
@use "@scss/utilities/placeholders" as *;

.button {
	display: inline-flex;
	justify-content: center;
	border-radius: to-rem(50);
	padding-block: to-rem(11);
	padding-inline: to-rem(15);
	text-align: center;
	line-height: div-rounding(18, $font-size-base);
	transition:
		background-color
			var(--default-transition-duration, #{$default-transition-duration}),
		box-shadow var(--default-transition-duration, #{$default-transition-duration}),
		transform var(--default-transition-duration, #{$default-transition-duration}),
		color var(--default-transition-duration, #{$default-transition-duration});

	&:focus-visible {
		color: var(--color-secondary, #{$color-secondary});
		background-color: var(--color-inverse, #{$color-inverse});

		.dark & {
			color: var(--color-primary, #{$color-secondary});
		}

		@extend %box-shadow-inverse;
	}

	&:active {
		transform: translateY(to-rem(3));
	}

	&--full {
		@include media-max($phone) {
			inline-size: 100%;
		}
	}

	.dark & {
		color: var(--color-secondary, #{$color-primary});
	}

	.halloween & {
		color: var(--color-primary, #{$color-secondary});
	}

	@include media-hover {
		box-shadow: 0 0 to-rem(15)
			rgb(var(--color-inverse-rgb, #{$color-inverse-rgb}) / 0.25);
		color: var(--color-secondary, #{$color-secondary});
		background-color: var(--color-inverse, #{$color-inverse});

		.dark & {
			color: var(--color-primary, #{$color-secondary});
		}
	}

	@extend %color-primary;
	@extend %bg-color-accent;
	@extend %box-shadow-accent;
}
