extends layout/layout

block variables
	- title = 'Page Not Found - 404'
	- header = false
	- footer = false
	- popups = false
	- preloader = true
	- gitHubName = 'nikkeyl'

block content
	section.error-404.flex-align-center.fullscreen.bg-event
		.container.flex-align-center.flex-column
			h1.error-404__title.flex-align-center.margin-bottom-20
				| 4
				span 0
				| 4
			a.button.button--full(href=`https://${gitHubName}.github.io/${gitHubName}`)
				| Back Home
