extends layout/layout

block variables
	- title = 'Page Not Found'
	- header = false
	- footer = false
	- popups = false
	- preloader = true
	- name = 'nikkeyl'

block content
	section.error-404.container.flex-align-center.flex-column.fullscreen
		h1.error-404__title.margin-bottom-20
			| 4
			span 0
			| 4
		a.button.button--full(href=`https://${name}.github.io/${name}`)
			| Back Home
