// Container
$container-max-inline-size: 1280;
$container-padding-inline: 15;
$container-inline-size: $container-max-inline-size + ($container-padding-inline * 2);

// Widths
$max-inline-size: 1920;
$min-inline-size: 320;

// Breakpoints
$desktop: $container-inline-size;
$laptop: 992;
$tablet: 768;
$phone: 480;

// Header
$header-min-block-size: 70;
$header-inset-block-start: 15;

// Z-index
$z-index-1: 1;
$z-index-2: 2;
$z-index-3: 3;

// Font families
$font-family-roboto: "Roboto";
$font-family-open-sans: "OpenSans";
$font-family-base: $font-family-open-sans;

// Font sizes
$font-size-title: 40;
$font-size-subtitle: 30;
$font-size-text: 16;
$font-size-base: $font-size-text;

// Font weights
$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-700: 700;
$font-weight-base: $font-weight-500;

// Colors
$color-primary: #fff;
$color-secondary: #222;
$color-accent: #0d8;
$color-inverse: #fe0;
$color-pale: #f8f4ff;
$color-gray: #888;

// Colors RGB
$color-accent-rgb: 4 219 137;
$color-inverse-rgb: 255 238 0;
$color-gray-rgb: 136 136 136;

// Transforms
$scale-default: 1.05;

// Transitions
$default-transition-duration: 500ms;
