$container-padding-inline: 15;

// ============================================================================== //
$container-max-width: 1280;
$container-width: $container-max-width + ($container-padding-inline * 2);
$max-width: 1920;
$min-width: 320;

// ============================================================================== //
$desktop: $container-width;
$laptop: 992;
$tablet: 768;
$phone: 480;
