@use "@scss/abstracts" as *;

.footer {
	padding: to-rem(15);

	&__container {
		padding-block: to-rem(10);
		font-weight: var(--font-weight-500, 500);
		text-align: center;
		background-color: var(--color-pale, #{$color-pale});

		> .logo {
			$font-size: 20;

			font-size: to-rem($font-size);
		}
	}
}
