@use "sass:math" as *;
@use "@scss/abstracts" as *;

.header {
	position: sticky;
	top: 0;
	z-index: 90;
	display: flex;
	align-items: center;
	min-height: var(--header-height, 4rem);
	background-color: var(--magnolia, #f8f4ff);

	&__container {
		@include media-min(520) {
			display: flex;
			align-items: center;
			width: 100%;
		}
	}

	&__body {
		@include adaptive-value("gap", 20, 8);

		display: flex;
		justify-content: center;
	}

	&__logo {
		flex: 1;

		@include media-max(520) {
			display: none;
		}
	}

	&__button {
		padding: to-rem(10) to-rem(14);
	}
}
