@use "@scss/abstracts" as *;

.header {
	$breakpoint-540: 540;
	$breakpoint-350: 350;

	position: fixed;
	z-index: 90;
	min-block-size: var(--header-block-size, #{to-rem($header-block-size)});

	&__container {
		padding-block: to-rem(12);
		background-color: var(--color-pale, #{$color-pale});

		@include media-max($breakpoint-540) {
			justify-content: center;
		}

		@include media-max($breakpoint-350) {
			border-radius: 0;
		}
	}

	&__body {
		@include adaptive-value("gap", 20, 8);
	}

	&__logo {
		@include media-min($breakpoint-540) {
			flex: 1;
		}

		@include media-max($breakpoint-540) {
			display: none;
		}
	}

	@include media-min($breakpoint-350) {
		$inset: 15;

		inset-block-start: to-rem($inset);
		inset-inline: to-rem($inset);
	}

	@include media-max($breakpoint-350) {
		inset-inline: 0;
	}
}
