.dark {
	--color-primary: #222;
	--color-pale: #444;
	--color-secondary: #f8f4ff;
	--color-background-primary: var(--color-primary, #333);
	--color-text-primary: var(--color-secondary, #f8f4ff);

	color-scheme: dark;
}
