@use "@scss/abstracts" as *;
@use "@scss/utilities/placeholders" as *;

// colorScheme.js
// preloader
// add link to reviews section
// tips

// popup.js to-do так что-бы при открытии попапа все элменеты были не доступны для TAB
// icons in skills section [bem, stylelint, semver, github]

// spoilers
// optimize

// page speed
// chrome devtools
// accessibility report
// github issues

.theme-switcher {
	position: relative;
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: to-rem(24);
	border-radius: to-rem(30);
	block-size: to-rem(40);
	inline-size: to-rem(24);
	background-color: var(--color-gray, #{$color-gray});

	&::before {
		@include pseudo;

		inset-block-start: to-rem(2);
		inset-inline-start: to-rem(2);
		border-radius: 50%;
		block-size: to-rem(20);
		inline-size: to-rem(20);
		background-color: var(--color-pale, #{$color-gray});
		transition:
			background-color var(--transition-duration, #{$transition-duration}),
			box-shadow var(--transition-duration, #{$transition-duration}),
			inset-block-start var(--transition-duration, #{$transition-duration});

		.dark & {
			inset-block-start: to-rem(18);
			background-color: var(--color-inverse, #{$color-inverse});

			@extend %box-shadow-inverse;
		}
	}

	.halloween & {
		display: none;
	}
}
