@use "@scss/abstracts" as *;
@use "@scss/utilities/placeholders" as *;

.theme-switcher {
	position: relative;
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: to-rem(24);
	border-radius: to-rem(30);
	block-size: to-rem(40);
	inline-size: to-rem(24);
	background-color: var(--color-gray, #{$color-gray});

	&::before {
		inset-block-start: to-rem(2);
		inset-inline-start: to-rem(2);
		border-radius: 50%;
		block-size: to-rem(20);
		inline-size: to-rem(20);
		background-color: var(--color-pale, #{$color-gray});
		transition:
			background-color
				var(--default-transition-duration, #{$default-transition-duration}),
			box-shadow var(--default-transition-duration, #{$default-transition-duration}),
			inset-block-start
				var(--default-transition-duration, #{$default-transition-duration});

		.dark & {
			inset-block-start: to-rem(18);
			background-color: var(--color-inverse, #{$color-inverse});

			@extend %box-shadow-inverse;
		}

		@extend %pseudo;
	}

	.halloween &,
	.new-year & {
		display: none;
	}
}
