@use "@scss/abstracts" as *;
@use "@scss/utilities/placeholders" as *;

.theme-switcher {
	$inline-size: 24;

	position: relative;
	flex: 0 0 to-rem($inline-size);
	border-radius: to-rem(30);
	block-size: to-rem(40);
	inline-size: to-rem($inline-size);
	background-color: var(--color-gray, #{$color-gray});

	&::before {
		$size: 20;

		@include pseudo;

		inset-block-start: to-rem(2);
		inset-inline-start: to-rem(2);
		border-radius: $border-radius-50;
		block-size: to-rem($size);
		inline-size: to-rem($size);
		background-color: var(--color-pale, #{$color-pale});
		transition-property: background-color, box-shadow, inset-block-start;
		transition-duration: var(
			--transition-duration-default,
			#{$transition-duration-default}
		);

		.dark & {
			inset-block-start: to-rem(18);

			@extend %bg-color-inverse;
			@extend %box-shadow-inverse;
		}
	}

	.halloween &,
	.xmas & {
		display: none;
	}
}
