@use "@scss/abstracts" as *;

// colorScheme.js
// preloader
// add link to reviews section
// tips

// при загрузке появляется секция about-me а потом прокручивается до hero
// repo card theme
// popup.js to-do так что-бы при открытии попапа все элменеты были не доступны для TAB
// icons in skills section

// focus-visible not working

// spoilers
// optimize

// page speed
// accessibility report
// github issues

.theme-switch {
	position: relative;
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: to-rem(24);
	border-radius: to-rem(30);
	block-size: to-rem(40);
	inline-size: to-rem(24);
	background-color: var(--color-disabled, #888);

	&::before {
		@include pseudo;

		inset-block-start: to-rem(2);
		inset-inline-start: to-rem(2);
		border-radius: 50%;
		block-size: to-rem(20);
		inline-size: to-rem(20);
		background-color: var(--color-pale, #888);
		transition:
			background-color 0.3s,
			box-shadow 0.3s 0.2s,
			inset-block-start 0.3s;

		.dark & {
			inset-block-start: to-rem(18);
			box-shadow: 0 0 to-rem(20) rgb(var(--color-inverse-rgb, 255 238 0) / 0.5);
			background-color: var(--color-inverse, #fe0);
		}
	}
}
