//- popups
.popup#info(aria-hidden='true')
	.popup__wrapper
		.popup__content
			button.popup__close(
				type='button'
				data-close
			)
			.popup__body
				.popup__icon
					svg
						use(href='@img/icons/sprite.svg#info')
				.popup__text
					p #[strong I answer calls and messages from #[span 12:00] to #[span 20:00].]
