.popup#info(aria-hidden='true')
	.popup__wrapper.flex-align-center
		.popup__content.border-radius
			button.popup__close(
				type='button'
				data-close
			)
			.popup__body.flex-align-center
				.popup__icon
					svg
						use(href='@img/icons/sprite.svg#info')
				.popup__text
					p #[strong I answer calls and messages from #[span 12:00] to #[span 20:00].]
