.popup#info(aria-hidden='true')
	.popup__wrapper.flex-align-center
		.popup__content.border-radius-10
			button.popup__close(
				type='button'
				data-close
			)
			.flex-align-center.flex-column
				.popup__icon.margin-bottom-20
					svg.border-radius-50
						use(href='@img/icons/sprite.svg#info')
				.text.popup__text
					p #[strong I answer calls and messages from #[span 12:00] to #[span 20:00].]
